.container {
    width: 40rem;
    background-color: cadetblue;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.item {
    background-color: lightgray;
    font-size: 2rem;
}

.item:hover {
    background-color: darkgray;
}

#numInput {
    grid-column: span 2;
    text-align: right;
    font-size: 2rem;
}

#signInput {
    grid-column: span 1;
    font-size: 2rem;
}

#operandInput {
    grid-column: span 1;
    text-align: right;
    font-size: 2rem;
}